<launch>
    <param name="rob_tool" command="$(find xacro)/xacro $(find pct)/data/tools/ferro_sander.xacro"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="tool_publ">
        <remap from="robot_description" to="rob_tool" />
    </node>
    <node pkg="tf" name="rob_T_tool" type="static_transform_publisher" args=" 0 0 0 0 0 0 /tool0 /tool_origin 30"/>

    <!-- Plot the TCPs -->
    <node pkg="tf" name="tcp_main" type="static_transform_publisher" args=" 0.0 0.0 0.2893 0 0.0 0.0 /tool0 /tcp_main 30"/>
    <!-- Positive X -->
    <node pkg="tf" name="tcp1" type="static_transform_publisher" args=" 0.01 0.0 0.2893 0 0.0 0.0 /tool0 /tcp1 30"/>
    <node pkg="tf" name="tcp2" type="static_transform_publisher" args=" 0.02 0.0 0.2893 0 0.0 0.0 /tool0 /tcp2 30"/>
    <node pkg="tf" name="tcp3" type="static_transform_publisher" args=" 0.03 0.0 0.2893 0 0.0 0.0 /tool0 /tcp3 30"/>
    <node pkg="tf" name="tcp4" type="static_transform_publisher" args=" 0.04 0.0 0.2893 0 0.0 0.0 /tool0 /tcp4 30"/>
    <node pkg="tf" name="tcp5" type="static_transform_publisher" args=" 0.05 0.0 0.2893 0 0.0 0.0 /tool0 /tcp5 30"/>

    <!-- Positive Y -->
    <node pkg="tf" name="tcp6" type="static_transform_publisher" args=" -0.01 0.0 0.2893 0 0.0 0.0 /tool0 /tcp6 30"/>
    <node pkg="tf" name="tcp7" type="static_transform_publisher" args=" -0.02 0.0 0.2893 0 0.0 0.0 /tool0 /tcp7 30"/>
    <node pkg="tf" name="tcp8" type="static_transform_publisher" args=" -0.03 0.0 0.2893 0 0.0 0.0 /tool0 /tcp8 30"/>
    <node pkg="tf" name="tcp9" type="static_transform_publisher" args=" -0.04 0.0 0.2893 0 0.0 0.0 /tool0 /tcp9 30"/>
    <node pkg="tf" name="tcp10" type="static_transform_publisher" args=" -0.05 0.0 0.2893 0 0.0 0.0 /tool0 /tcp10 30"/>

</launch>