<launch>
    <arg name="pkg_path" value="$(find planner_viz)"/>

    <node pkg="rviz" name="planner_rviz" type="rviz" args="$(arg pkg_path)/config/rviz_config.rviz" required="true"/>

    <node pkg="tf" type="static_transform_publisher" name="map_T_world" args="0 0 0 0 0 0 /map /world 10" />

    <!-- robot descriptions and visualizations -->          
    <!-- <param name="robot_description" -->
            <!-- command="$(find xacro)/xacro $(find robot_utilities)/urdf/kuka_iiwa7/iiwa7.urdf" />         -->

    <param name="robot_description"
            command="$(find xacro)/xacro $(find robot_utilities)/urdf/abb_irb2600/irb2600_12_165.urdf" />

    <!-- <param name="robot_description"
            command="$(find xacro)/xacro $(find robot_utilities)/urdf/ur_10e/ur10e.urdf" /> -->
            
    <node pkg="robot_state_publisher" name="bot_state_pub" type="state_publisher"/>


    <!-- Tool Plot -->
    <include file="$(arg pkg_path)/launch/sander.launch"/>
    <!-- <include file="$(arg pkg_path)/launch/ferro_sander.launch"/> -->


    <!-- Robot TF publishers from the joint_states topics -->
    <node pkg="planner_viz" name="viz_wp" type="viz_wp" output="screen"/>
    <node pkg="planner_viz" name="viz_stl" type="viz_stl" output="screen"/>
    <node pkg="planner_viz" name="viz_path" type="viz_path" output="screen"/>
    <node pkg="planner_viz" name="viz_robot" type="viz_robot" output="screen"/>
    <!-- <node pkg="planner_viz" name="viz_ffWps" type="viz_ffWps" output="screen"/> -->
</launch>