<?xml version="1.0"?>
<robot name="table">
  <link name="table_top_origin">
    <visual>
      	<geometry>
          	<mesh filename="package://gen_utilities/meshes/table/table_top.stl"
                scale="1 1 1"/>
      	</geometry>
	  	<material name="ABS" >
          	<color rgba="0.9 0.7 0.5 1.0" />
         </material> 	
    	</visual>
  </link>
</robot>
